<nav class="navbar navbar-expand navbar-light bg-white shadow-sm">
    <div class="container-fluid justify-content-end">
        <ul class="navbar-nav">
            <!-- Add submenu items here, replace "#" with actual paths -->
            <li class="nav-item"><a class="nav-link" href="#">Grading Home</a></li>
            <li class="nav-item"><a class="nav-link" asp-controller="Rubric" asp-action="Rubric">Rubric</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Grade</a></li>
            <li class="nav-item"><a class="nav-link" asp-controller="Rubric" asp-action="AssignTAs">TA Assignments</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Normalization</a></li>
        </ul>
    </div>
</nav>