<nav class="navbar navbar-expand navbar-light bg-white shadow-sm">
    <div class="container-fluid justify-content-end">
        <ul class="navbar-nav">
            <!-- Add submenu items here, replace "#" with actual paths -->
            <li class="nav-item"><a class="nav-link" href="#">Schedule</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Awards</a></li>
        </ul>
    </div>
</nav>