@using Microsoft.AspNetCore.Identity
@inject SignInManager<ToaProUser> SignInManager

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-custom-color border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <img src="https://brightspotcdn.byu.edu/e4/0a/b679ee0a41d9b1675fc78cd03239/byu-logo-white-small.svg" class="img-fluid" alt="byu logo">
        <!-- Replace "#" with the actual path -->
        <a class="toa-pro-nav" asp-controller="Home" asp-action="Index">|     ToaPro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
            <ul class="navbar-nav">
                <!-- Replace "#" with the actual path -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <!-- Replace "#" with the actual path-->
                <li class="nav-item">
                    <a class="nav-link" href="#">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="JudgeRankings" asp-action="JudgePresentationForm">Grading Form</a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <form asp-controller="Home" asp-action="Logout" method="post">
                            <button type="submit" class="nav-link">Logout</button>
                        </form>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
