@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Peer Evaluation Group Details";
}
@model Evaluation

<h1>Howdy - Peer Eval Details</h1>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>John Doe</td>
        <td>30</td>
        <td>john.doe@example.com</td>
    </tr>
    <tr>
        <td>Jane Smith</td>
        <td>25</td>
        <td>jane.smith@example.com</td>
    </tr>
    <!-- Add more rows as needed -->
</table>


@foreach (Evaluation e in Model.Evaluations)
{
    <ul>
        <li>Project Type: @e.SubmissionId</li>
        <li>Regional Program: @e.EvaluatedId</li>
        <li>Impact: @e.PeerEvalGrade</li>
        <li>Installation Date: @e.Comments</li>
    </ul>
}

@*Grading View for professors and TAs (Groups 1, 10, & 12)*@