@{
    ViewData["Title"] = "Assign TAs";
}

@*
Assign TAs / TAs View Assignments View (Groups 7 & 5)
This view will need to contain functionality to disallow TAs from editing their assignments
and allowing professors to edit/make assignments.
*@

<div class="container">

    <vc:nav-bar-types user="Professor"></vc:nav-bar-types>
    <vc:submenu-types view="Grading"></vc:submenu-types>
    <vc:header-types title="Assign TAs" />

    <div>
        <vc:header-types />
    </div>

    <main class="container mt-4">
        <div class="button-container mt-4 mb-4 d-flex justify-content-end">
            <div class="d-inline-flex align-items-center mr-4">
                <button class="ghostButton">Edit</button>
            </div>

            <div class="d-inline-flex align-items-center">
                <button class="button">Add Row</button>
            </div>
        </div>


        <div class="table-container">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>TA Name</th>
                        <th>Groups</th>
                        <th>Requirements</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</div>
