@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
Assign TAs / TAs View Assignments View (Groups 7 & 5)
This view will need to contain functionality to disallow TAs from editing their assignments
and allowing professors to edit/make assignments.
*@

<div style="width: 1440px; height: 144px; left: 0px; top: 880px; position: absolute">
    <div style="width: 1440px; height: 144px; left: 0px; top: 0px; position: absolute; background: #002E5D"></div>
    <img style="width: 576px; height: 119px; left: 432px; top: 12px; position: absolute" src="https://via.placeholder.com/576x119" />
</div>
<div style="width: 1440px; height: 118px; left: 0px; top: 127px; position: absolute">
    <div style="width: 1440px; height: 118px; left: 0px; top: 0px; position: absolute; background: #E6E6E6"></div>
    <div style="width: 645px; height: 58px; left: 397px; top: 38px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Public Sans; font-weight: 400; letter-spacing: 1.80px; word-wrap: break-word">Assign TAs</div>
</div>
<div style="width: 90px; height: 38px; left: 1264px; top: 270px; position: absolute">
    <div style="width: 90px; height: 38px; left: 0px; top: 0px; position: absolute; background: #0D64B5; border-radius: 1000px"></div>
    <div style="width: 62.31px; left: 14.21px; top: 11px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 16px; word-wrap: break-word">Add Row</div>
</div>
<div style="width: 1440px; height: 98px; left: 0px; top: 29px; position: absolute">
    <div style="width: 1440px; height: 83px; left: 0px; top: -29px; position: absolute; background: #002E5D"></div>
    <div style="width: 1440px; height: 45px; left: 0px; top: 53px; position: absolute; background: white; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.20)"></div>
    <img style="width: 90px; height: 33px; left: 15px; top: -4px; position: absolute" src="https://via.placeholder.com/90x33" />
    <div style="width: 209px; height: 36px; left: 82px; top: -4px; position: absolute; text-align: center; color: white; font-size: 26px; font-family: Public Sans; font-weight: 400; letter-spacing: 1.30px; word-wrap: break-word">ToaPro</div>
    <div style="width: 39px; height: 0px; left: 117px; top: -7px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px white solid"></div>
</div>
<div style="width: 80px; height: 27px; left: 1033px; top: 97px; position: absolute; text-align: center; color: #002E5D; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word"><a asp-controller="Rubric" asp-action="Rubric">Rubric</a></div>
<div style="width: 80px; height: 27px; left: 1101px; top: 96px; position: absolute; text-align: center; color: #002E5D; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word"><a asp-controller="Grading" asp-action="GradingPage">Grade</a></div>
<div style="width: 80px; height: 27px; left: 948px; top: 96px; position: absolute; text-align: center; color: #002E5D; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word"><a asp-controller="Grading" asp-action="GradingSummaryPage">Dashboard</a></div>
<div style="width: 121px; height: 27px; left: 1176px; top: 96px; position: absolute; text-align: center; color: #002E5D; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word"><a asp-controller="Rubric" asp-action="AssignTAs">TA Assignments</a></div>
<div style="width: 91px; height: 27px; left: 1311px; top: 96px; position: absolute; text-align: center; color: #002E5D; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word"><a asp-controller="Grading" asp-action="ProfessorNormalizeGrades">Normalization</a></div>
<div style="width: 59px; height: 27px; left: 1122px; top: 34px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">Grading</div>
<div style="width: 80px; height: 27px; left: 1211px; top: 34px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">Presentation</div>
<div style="width: 80px; height: 27px; left: 1320px; top: 34px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">Permissions</div>
<div style="width: 10px; height: 5px; left: 1186px; top: 41px; position: absolute; border: 1px white solid"></div>
<div style="width: 10px; height: 5px; left: 1296px; top: 41px; position: absolute; border: 1px white solid"></div>
<div style="width: 76px; height: 38px; left: 1163px; top: 270px; position: absolute">
    <div style="width: 76px; height: 38px; left: 0px; top: 0px; position: absolute; border-radius: 1000px; border: 2px #0D64B5 solid"></div>
    <div style="width: 52.62px; left: 12px; top: 11px; position: absolute; text-align: center; color: #0D64B5; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 16px; word-wrap: break-word">Edit</div>
</div>
<div style="width: 1277px; height: 400px; left: 94px; top: 324px; position: absolute">
    <div style="width: 1103.96px; height: 400px; left: 173.04px; top: -0px; position: absolute">
        <div style="width: 1308.40px; height: 334.29px; left: -204.44px; top: 13.83px; position: absolute; background: white; border-radius: 10px; border: 1px #E6E6E6 solid"></div>
        <div style="width: 105.97px; height: 21.78px; left: 387.66px; top: 76.79px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">1-5</div>
        <div style="width: 105.97px; height: 21.78px; left: 132.80px; top: 238.40px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">401, 455</div>
        <div style="width: 105.97px; height: 21.78px; left: 132.80px; top: 155.87px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">413</div>
        <div style="width: 1307.85px; height: 40.11px; left: -203.89px; top: 106.59px; position: absolute; background: #EDF3FC"></div>
        <div style="width: 1308.40px; height: 51.87px; left: -204.44px; top: 13.83px; position: absolute; background: #003369; border-top-left-radius: 10px; border-top-right-radius: 10px"></div>
        <div style="width: 156.12px; height: 20.75px; left: 542.96px; top: 30px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 16px; word-wrap: break-word">Rubric Objectives</div>
        <div style="width: 156.12px; height: 20.75px; left: 371.56px; top: 29.80px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 16px; word-wrap: break-word">Groups:</div>
        <div style="width: 1307.85px; height: 40.11px; left: -203.89px; top: 186.82px; position: absolute; background: #EDF3FC"></div>
        <div style="width: 105.97px; height: 21.78px; left: 132.80px; top: 200.57px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">413, 415, 401</div>
        <div style="width: 1307.85px; height: 40.11px; left: -203.89px; top: 268.19px; position: absolute; background: #EDF3FC"></div>
        <div style="width: 105.97px; height: 21.78px; left: 132.80px; top: 283.09px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">414</div>
        <div style="width: 1307.85px; height: 40.11px; left: -203.89px; top: 106.59px; position: absolute; background: #EDF3FC"></div>
        <div style="width: 105.97px; height: 21.78px; left: 132.80px; top: 118.05px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">413</div>
        <div style="width: 334.29px; height: 0px; left: 521.80px; top: 12.61px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #E6E6E6 solid"></div>
        <div style="width: 334.29px; height: 0px; left: 119.38px; top: 12.61px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #E6E6E6 solid"></div>
        <div style="width: 334.29px; height: 0px; left: 371.56px; top: 12.61px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #E6E6E6 solid"></div>
        <div style="width: 334.29px; height: 0px; left: 253.52px; top: 12.61px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #E6E6E6 solid"></div>
        <div style="width: 278.34px; height: 20.63px; left: 49.63px; top: 29.80px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 16px; word-wrap: break-word">Class</div>
        <div style="width: 105.97px; height: 21.78px; left: 132.80px; top: 73.35px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">413</div>
        <div style="width: 105.97px; height: 21.78px; left: 393.03px; top: 121.49px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">6-10</div>
        <div style="width: 105.97px; height: 21.78px; left: 393.03px; top: 155.87px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">11-15</div>
        <div style="width: 105.97px; height: 21.78px; left: 132.80px; top: 319.77px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">455, 401</div>
        <div style="width: 89.87px; height: 19.48px; left: 265.59px; top: 77.94px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 59.02px; height: 19.48px; left: 265.59px; top: 77.94px; position: absolute; background: linear-gradient(0deg, #002E5D 0%, #002E5D 100%), linear-gradient(0deg, #002E5D 0%, #002E5D 100%), linear-gradient(0deg, #002E5D 0%, #002E5D 100%), linear-gradient(0deg, #002E5D 0%, #002E5D 100%)"></div>
        <div style="width: 89.87px; height: 19.48px; left: 265.59px; top: 118.05px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 89.87px; height: 19.48px; left: 265.59px; top: 157.02px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 89.87px; height: 19.48px; left: 266.94px; top: 195.99px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 89.87px; height: 19.48px; left: 266.94px; top: 237.25px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 89.87px; height: 19.48px; left: 266.94px; top: 277.36px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 89.87px; height: 19.48px; left: 266.94px; top: 319.77px; position: absolute; background: #D9D9D9"></div>
    </div>
    <div style="width: 278.34px; height: 20.63px; left: 16.10px; top: 32.09px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 16px; word-wrap: break-word">TA Name</div>
    <div style="width: 144.87px; height: 14.90px; left: 108.88px; top: 81.80px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">John Johnson</div>
    <div style="width: 169.01px; height: 13.75px; left: 108.65px; top: 121.49px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Jimmy Jimmerson</div>
    <div style="width: 134.14px; height: 14.90px; left: 108.65px; top: 161.60px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Sara Sarason</div>
    <div style="width: 88.53px; height: 17.19px; left: 108.65px; top: 200.57px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Toa Pita</div>
    <div style="width: 134.14px; height: 16.05px; left: 108.65px; top: 241.83px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Billy Bob Joe</div>
    <div style="width: 104.63px; height: 14.90px; left: 108.65px; top: 280.80px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Seth Alley</div>
    <div style="width: 134.14px; height: 14.90px; left: 108.65px; top: 322.06px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Taylor Swift</div>
    <div style="width: 173.04px; height: 16.05px; left: -0px; top: 81.38px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">1 </div>
    <div style="width: 173.04px; height: 16.05px; left: -0px; top: 320.92px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">1 </div>
    <div style="width: 173.04px; height: 16.05px; left: -0px; top: 280.80px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">1 </div>
    <div style="width: 173.04px; height: 16.05px; left: -0px; top: 161.60px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">1 </div>
    <div style="width: 173.04px; height: 16.05px; left: -0px; top: 121.49px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">2</div>
    <div style="width: 173.04px; height: 16.05px; left: -0px; top: 241.83px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">2</div>
    <div style="width: 173.04px; height: 16.05px; left: -0px; top: 201.72px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">2</div>
    <div style="width: 332.38px; height: 0px; left: 79.14px; top: 16.05px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #E6E6E6 solid"></div>
</div>
<div style="width: 252px; height: 27px; left: 820px; top: 520px; position: absolute; color: black; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">Web Server deployed on Internet</div>
<div style="width: 288px; height: 27px; left: 820px; top: 555px; position: absolute; color: black; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">Web Server deployed appropriately on AWS</div>
<div style="width: 245px; height: 17px; left: 819px; top: 602px; position: absolute; color: black; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">Database deployed on cloud service</div>
<div style="width: 245px; height: 20px; left: 820px; top: 645px; position: absolute; color: black; font-size: 14px; font-family: Public Sans; font-weight: 400; word-wrap: break-word">Database deployed on cloud service</div>