@{
    ViewData["Title"] = "Assign TAs";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        /* Additional or override styles if needed */
    </style>

</head>
<body>

    <vc:nav-bar-types user="Professor"></vc:nav-bar-types>
    <vc:submenu-types view="Rubric"></vc:submenu-types>
    <vc:header-types title="Assign TAs" />

    <main class="container mt-4">
        <div class="button-container mt-4 mb-4 d-flex justify-content-end">
            <div class="d-inline-flex align-items-center mr-4">
                        <button class="ghostButton">Edit</button>
            </div>

            <div class="d-inline-flex align-items-center">
               <button class="button">Add Row</button>
            </div>
        </div>


        <div class="table-container">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>TA Name</th>
                        <th>Groups</th>
                        <th>Requirements</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Dynamic TA Assignment Rows will be here -->
                </tbody>
            </table>
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
