@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Presentations" asp-action="PresentationSchedule">View Schedule</a>
</div>

@*
    This index page will be associated with viewmodels (for each type of user)
    There will be the following ViewModels:
        CoordinatorHomepage
        ProfHomepage
        TAHomepage
        StudentHomepage
        JudgeHomepage
    Each View will contain certain aspects that are needed for each type of user,
    but have a basic layout.
*@