@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/site.css" rel="stylesheet" />

<vc:submenu-types view="Default"></vc:submenu-types>
<vc:header-types title="Welcome Student" />

<div class="container">
    <div class="row justify-content-center" style="padding: 40px;">
        <div class="col-md-12 d-flex justify-content-center">
            <a asp-controller="StudentSubmissions" asp-action="StudentSubmitFiles" class="dashboard-section-link">
                <div class="dashboard-section" style="background-color: #DDDDDD; width: 150px; height: 150px; margin: 0 30px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <img src="~/img/submit.png" style="width: 48px; height: 48px;" />
                    <h3 style="font-size: 14px; margin-top: 10px; text-align: center;">Submit Deliverables</h3>
                </div>
            </a>
            <a asp-controller="Presentations" asp-action="StudentViewSchedule" class="dashboard-section-link">
                <div class="dashboard-section" style="background-color: #DDDDDD; width: 150px; height: 150px; margin: 0 30px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <img src="~/img/clock.png" style="width: 48px; height: 48px;" />
                    <h3 style="font-size: 14px; margin-top: 10px; text-align: center;">Presentation Details</h3>
                </div>
            </a>
            <a asp-controller="StudentSubmissions" asp-action="StudentSubmitPeerEvals" class="dashboard-section-link">
                <div class="dashboard-section" style="background-color: #DDDDDD; width: 150px; height: 150px; margin: 0 30px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <img src="~/img/group.png" style="width: 48px; height: 48px;" />
                    <h3 style="font-size: 14px; margin-top: 10px; text-align: center;">Peer Evaluations</h3>
                </div>
            </a>
        </div>
    </div>
</div>

