@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table table-bordered table-striped table-hover">
    <thead class="text-light" style="background-color: #002f5d;">
        <tr>
            <th>Fun awards</th>
            <th>Description</th>
            <th>Team</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>I'd hire them as consultants</td>
            <td>Do you want to come work for us now?</td>
            <td>
                <select class="form-control">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </td>
            <td><a class="btn btn-info">Edit</a><a class="btn btn-danger">Delete</a></td>
            
        </tr>
        <tr>
            <td>Duct tape award for live debugging</td>
            <td>They could figure out anything on the go</td>
            <td>
                <select class="form-control">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </td>
            <td><a class="btn btn-info">Edit</a><a class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
            <td>Mary Poppins Presentation award</td>
            <td>Practically perfect in every way</td>
            <td>
                <select class="form-control">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </td>
            <td><a class="btn btn-info">Edit</a><a class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
            <td>Swipe right award</td>
            <td>Best looking/cool use of technology</td>
            <td>
                <select class="form-control">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </td>
            <td><a class="btn btn-info">Edit</a><a class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
</table>


