@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*Judge Submits Judging Form View (Groups 8 & 4)*@
@model List<Judge>


<style>
    .button-container {
        text-align: center;
    }

    .rounded-btn {
        border-radius: 20px;
        width: 10%;
        margin: 50px;
    }
        .rounded-btn:hover{
            font-weight: bold;
            color: white;
        }

    .navy-background {
        background-color: #002e5d;
        color: white;
    }
</style>
<body>
    <div class="button-container">
    @foreach (var judge in Model)
    {
        @foreach (var presentation in judge.Presentations)
        {
                <button type="button" class="btn navy-background rounded-btn" asp-route="">Team @presentation.Group.Section - @presentation.GroupId</button>
        }
    }
    <button type="button" class="btn navy-background rounded-btn">Rankings</button>
    </div>
    <div class="container">
        <form>
            <input type="hidden" />
            <table class="table">
                <thead>
                    <tr class="navy-background">
                        <th>Criteria</th>
                        <th>Grade</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h3>Communication and Delivery</h3>
                            <p>Potential Factors:</p>
                            <ul>
                                <li>Dress, Appearance, and Confidence</li>
                                <li>Engaging with the audience</li>
                                <li>Organization and timing</li>
                                <li>Professionalism</li>
                                <li>Transitions</li>
                                <li>Question handling</li>
                                <li>Slide quality</li>
                            </ul>
                        </td>
                        <td>
                            <input type="range" value="10" min="1" max="10" oninput="this.nextElementSibling.value = this.value">
                            <output>10</output>
                        </td>
                        <td>
                            <textarea class="form-control" rows="3" id="comments1" placeholder="Enter comments here..."></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Technology Demonstration</h3>
                            <p>Potential Factors:</p>
                            <ul>
                                <li>Website implementation and functionality</li>
                                <li>System usability and user experience</li>
                                <li>Coherant narrative/story when describing system</li>
                                <li>Presence or lack of errors/bugs</li>
                            </ul>
                        </td>
                        <td>
                            <input type="range" value="10" min="1" max="10" oninput="this.nextElementSibling.value = this.value">
                            <output>10</output>
                        </td>
                        <td>
                            <textarea class="form-control" rows="3" id="comments2" placeholder="Enter comments here..."></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Overall System and Client Satisfaction</h3>
                            <p>Potential Factors:</p>
                            <ul>
                                <li>Team understands the challenges and requirements of the client</li>
                                <li>System meets client needs</li>
                                <li>Solution is realistic and viable</li>
                                <li>You are confident in the solution and the team</li>
                                <li>Client should engage with the team for continued implementation</li>
                            </ul>
                        </td>
                        <td>
                            <input type="range" value="10" min="1" max="10" oninput="this.nextElementSibling.value = this.value">
                            <output>10</output>
                        </td>
                        <td>
                            <textarea class="form-control" rows="3" id="comments3" placeholder="Enter comments here..."></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit">Save</button>

            <div asp-validation-summary="All"></div>
        </form>
        <br />
        <h3>Nomination for fun awards</h3>
        <p>We like to give the teams fun awards independent of their overall scores.  Please consider one or more creative and fun/funny awards for this team.</p>
        <p>(i.e., "The Extra Mile Award", "Best Analytics Award", "Best Dressed Award", "Thinking Outside the Box Award", "Most Colorful Slide Award", etc.)</p>
        <input class="form-control" type="text"/>
    </div>
</body>
