@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*Professors Assign actual rankings, this page will also display the Judges nominations from the JudgePresentationForm.cshtml View (Groups 3 & 6)*@
<table class="table table-bordered table-striped table-hover">
    <thead class="text-light" style="background-color: #002f5d;">
    <tr>
        <th>Award (across all sections)</th>
        <th>Description</th>    
        <th>Team</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>First</td>
        <td>First place overall in intex</td>
        <td>Model.teamNumber</td>
    </tr>
    <tr>
        <td>Second</td>
        <td>Second place overall in intex</td>
        <td>Model.teamNumber</td>
    </tr>
    <tr>
        <td>Third</td>
        <td>Third place overall in intex</td>
        <td>Model.teamNumber</td>
    </tr>
    <tr>
        <td>Fourth</td>
        <td>Fourth place overall in intex</td>
        <td>Model.teamNumber</td>
    </tr>
    </tbody>
</table>

<table class="table table-bordered table-striped table-hover">
    <thead class="text-light" style="background-color: #002f5d;">
    <tr>
        <th>Fun awards</th>
        <th>Description</th>    
        <th>Team</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>I'd hire them as consultants</td>
        <td>Do you want to come work for us now?</td>
        <td>Model.teamNumber</td>
    </tr>
    <tr>
        <td>Duct tape award for live debugging</td>
        <td>They could figure out anything on the go</td>
        <td>Model.teamNumber</td>
    </tr>
    <tr>
        <td>Mary Poppins Presentation award</td>
        <td>Practically perfect in every way</td>
        <td>Model.teamNumber</td>
    </tr>
    <tr>
        <td>Swipe right award</td>
        <td>Best looking/cool use of technology</td>
        <td>Model.teamNumber</td>
    </tr>
    </tbody>
</table>