@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*Student Submits Files View (Groups 9 & 11)*@
@*Group 11*@
@model Submission

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<vc:nav-bar-types user="Student"></vc:nav-bar-types>
<vc:submenu-types view="Default"></vc:submenu-types>
<vc:header-types title="Submission" />

<div class="container">
    <body>

        <div class="container center" style="margin-left: auto; margin-right: auto;">
            <br />
            <br />
            <h3 class="text-center bold-text">Please include the following in your submission:</h3>
            <div class="submission-form" style="margin-left: 20%; margin-right: auto; width: 80%;">
                <form method="post" asp-controller="StudentSubmissions" asp-action="StudentSubmitFilesConfirmation">
                    <input type="hidden" asp-for="StudentId" />
                    <input type="hidden" asp-for="GroupId" />
                    <input type="hidden" asp-for="CreatedDate" />

                    <br />
                    <br />
                    <label asp-for="GithubLink" class="bold-text">GitHub Link:</label>
                    <p>Make sure your repository is public.</p>
                    <input type="text" id="GithubLink" asp-for="GithubLink" style="width: 80%;">
                    <br />
                    <br />
                    <label asp-for="YoutubeLink" class="bold-text">YouTube Link:</label>
                    <p>Explain how your project fulfills the rubric requirements  in 10 minutes or less. Showcase any extra features you’ve added.</p>
                    <input type="text" id="YoutubeLink" asp-for="YoutubeLink" style="width: 80%;">
                    <br />
                    <br />
                    <label asp-for="UploadFile" class="bold-text">Upload Files:</label>
                    <p>
                        Include: readme file, data analysis, presentation, ERD, and normalization files <br>
                        Readme file requirements: website link with username and password
                    </p>
                    <input type="file" id="UploadFile" asp-for="UploadFile" directory webkitdirectory mozdirectory style="width: 250px;">
                    <br />
                    <br />
                    <div style="text-align: center; margin-left: -25%">
                        <button type="submit" class="button">Submit</button>
                    </div>
                    <br />
                </form>
            </div>
        </div>

    </body>
</div>
