@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*Student Submits Files View (Groups 9 & 11)*@
@*Group 11*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Form</title>
</head>
<body>

    <div class="container">
        <h2>Submission</h2>
        <div class="submission-form">
            <p>Please include the following in your submission:</p>
            <form method="post">
                <label for="github-link">GitHub Link:</label>
                <input type="text" id="github-link" name="github-link" placeholder="Make sure your repository is public.">
                <br />
                <label for="youtube-link">YouTube Link:</label>
                <input type="text" id="youtube-link" name="youtube-link" placeholder="">
                <br />
                <label for="upload-folder">Upload Files:</label>
                <input type="file" id="upload-folder" name="upload-folder" directory webkitdirectory mozdirectory>
                <br />
                <br />
                <button type="submit" class="btn">Submit</button>
                <br />
            </form>
        </div>
    </div>

</body>
</html>
